<!-- Begin Footer -->
	</td>
</tr>
<tr>
	<td>&nbsp;</td><td class="ac_bottom_links">

&nbsp;

	</td>
</tr>
<tr>
<td colspan="2" class="ac_copyright">
	Copyright 1999 to Present by K-Factor Technologies Inc. at <a href="http://www.agoracart.com">AgoraCart.com</a>
</td>
</tr>
</table>
