.style6 {font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #336699;
}

a:link {
	text-decoration: none;
	color: #4D6D84;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
	color: 113961;
}


a:hover {
	text-decoration: none;
	color: 113961;
}

a:active {
	text-decoration: none;
	color: #000000;
}

.style11 {color: #4D6D84; font-family: Geneva, Arial, Helvetica, sans-serif; font-weight: bold; }

.style7 {font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #FFFFFF;
}

.style12 {color: #4D6D84;}

.style8 {font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #716D60;
}


.style14 {font-size: 12px;}


.ac_ppinc_content{
  background-color: #FFFFFF;
  vertical-align : top;
  height : 100%;
  padding: 0px; 
  padding-bottom: 25px;
}

.template_mainbackground{
  background-color : #4D6D84;
  border-color : #4D6D84;
}


.style14 {font-size: 12px;}

.template_image_no_border{
  border : none;
}


.template_table_image_background{
  background-image : url(backgroundbanner.gif);
}

.template_copyright{
  background-color : #4D6D84;
  text-align: center;
  font-size: 10pt;
  color: #FFFFFF;
}

a.copyright_link {
  font-size: 10pt;
  font-weight: normal;
  text-decoration : none;
  color: #FFFF00;
}

.template_cartcontents{
  background-color : #FFFFFF;
  text-align: center;
  font-size: 9pt;
  color: #000000;
}

.template_checkoutcartcontents{
  background-color : #FFFFFF;
  text-align: center;
  font-size: 11pt;
  color: #000000;
}

.template_fonth1{
  padding: 0px;
  padding-right: 0px; 
  padding-left: 0px;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  font-size: 17pt;
  font-weight: bold;
  color: #FFFFFF;
}

.template_fonth2{
  padding: 0px;
  padding-right: 0px; 
  padding-left: 0px;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  font-size: 14pt;
  font-weight: normal;
  font-style : italic;
  color: #FFFFFF;
}

a.ac_cart_info_links {
  padding: 0px;
  padding-right: 5px; 
  padding-left: 5px;
  font-size: 11pt;
  font-weight: bold;
  text-decoration : none;
}

.ac_left_nav{
  width: 155px;
  vertical-align : top;
  padding: 0px;
  padding-top: 15px;
}

a.ac_left_links {
  text-align: left;
  padding: 0px;
  padding-right: 3px; 
  padding-left: 10px;
  font-size: 10pt;
  font-weight: normal;
  text-decoration : none;
}

a.ac_left_sub_links {
  text-align: left;
  padding: 0px;
  padding-right: 3px; 
  padding-left: 18px;
  font-size: 9pt;
  font-weight: normal;
  text-decoration : none;
}
