a:link {
  color: #0000FF;
}
a:visited {
  color: #0000FF;
}
a:hover {
  color: #00AAFF;
}
a:active{
  color: #0000FF;
}
.style7 {font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #FFFFFF;
}
.style8 {font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #FFFFFF;
}
.template_fonth1{
  padding: 0px;
  padding-right: 0px; 
  padding-left: 0px;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  font-size: 17pt;
  font-weight: bold;
  color: #FFFFFF;
}
.template_fonth2{
  padding: 0px;
  padding-right: 0px; 
  padding-left: 0px;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  font-size: 14pt;
  font-weight: normal;
  font-style : italic;
  color: #FFFFFF;
}
.template_mainbackground{
  background-color : #680098;
  border-color : #680098;
}
.template_image_no_border{
  border : none;
}
.ac_header, .ac_mainbody{
  width :100%;
  font-size : 10pt;
}
.ac_header{
  background-color : #680098;
  padding: 0px;
  text-align: center;
  font-family : Verdana, Arial;
  color: #FFFFFF;
}
h1#ac_h1 {
  font-size : 15pt;
  font-weight : bold;
  margin: 0px;
  color: #FFFFFF;
}
h2#ac_h2 {
  font-style : italic;
  margin: 0px;
  font-size: 12pt;
  color: #FFFFFF;
}
.ac_left_nav h3 {
  color : #FF0000;
  font-weight : bold;
  text-align: center;
  margin: 0px;
  padding: 5px 0px 0px 5px;
  font-size: 10pt;
}
.ac_left_nav hr{
  padding:0px;
  margin: 25px 0px 25px 0px;
  width : 95%;
}
.ac_header_search{
  text-align: right;
  vertical-align : middle;
}
.ac_mainbody, .ac_cart_summary{
  background-image : url(agora.cgi?secpicserve=steelgrey.jpg);
  background-color : #cccccc;
}
.ac_mainbody{
  padding: 0px;
  margin: 0px;
}
.ac_left_nav{
  width: 155px;
  vertical-align : top;
  padding: 0px;
  padding-top: 15px;
}
a.ac_cart_info_links {
  padding: px;
  padding-right: 5px; 
  padding-left: 10px;
  font-size: 10pt;
  font-weight: bold;
  text-decoration : none;
}
a.ac_left_links {
  text-align: left;
  padding: 0px;
  padding-right: 3px; 
  padding-left: 10px;
  font-size: 10pt;
  font-weight: normal;
  text-decoration : underline;
}
a.ac_left_sub_links {
  text-align: left;
  padding: 0px;
  padding-right: 3px; 
  padding-left: 18px;
  font-size: 9pt;
  font-weight: normal;
  text-decoration : none;
}
.ac_cart_summary{
  font-size: 12pt;
  width:100%;
  color: #000000;
  text-align: center;
  padding: 0px;
  padding-top:10px;
  padding-bottom:10px;
}
.ac_copyright{
  text-align: center;
  font-size: 10pt;
  background-color: #FFFFFF;
  padding: 0px;
  padding-top:10px;
  padding-bottom:10px;
} 
div#ac_html_validator{
  text-align: center;
  padding-top : 100px;
  vertical-align : bottom;
}