


<!-- Begin Footer -->
</td>
          </tr>
        </table></td>
		<td width="175" valign="top" bgcolor="#FFFFFF">			
		  <br>
<table width="160" border="0" align="center" cellpadding="3" cellspacing="1" class="template_mainbackground">
          <tr>
            <td  class="template_mainbackground"><span class="style7">Your Cart</span></td>
          </tr>
          <tr>
            <td class="template_cartcontents"><div align="center"><span class="style6"> </span>   <!--agorascript-pre {
local (@my_cart_fields,$my_cart_row_number,$result);
local ($count,$price,$product_id,$quantity,$total_cost,$total_qty)=0;
if ((!(-f "$sc_cart_path"))||($sc_processing_order =~ /yes/i)) {
    my $buysafe_temp_display = '';
     if ($sc_buySafe_is_enabled =~ /yes/) {
         $buysafe_temp_display = qq|<br><br>$sc_buysafe_merchant_seal_complete_button_string|;
    }
    return "<br>Items in your cart: 0 $buysafe_temp_display<br><br>"
}
open (CART, "$sc_cart_path") || &file_open_error("$sc_cart_path",
 "display_cart_contents_in_header", __FILE__, __LINE__);
 while (<CART>)
  {
   $count++;
   chop;    
   @my_cart_fields = split (/\|/, $_);
   $my_cart_row_number = pop(@my_cart_fields);
   push (@my_cart_fields, $my_cart_row_number);
   $quantity = $my_cart_fields[0];
   $product_id = $my_cart_fields[1];
   $price = $my_cart_fields[$sc_cart_index_of_price_after_options]; 
   $total_cost = $total_cost + $quantity * $price;
   $total_qty = $total_qty + $quantity;
  } # End of while (<CART>)
close (CART);
my $buysafe_temp_display = '';
if ($sc_buySafe_is_enabled =~ /yes/) {
    $buysafe_temp_display = qq|<br><br>$sc_buysafe_merchant_seal_complete_button_string <br>|;
}
if ($count > 0) {
  $result = '<table><tr><td class="template_cartcontents">' .
      "Items in your cart: <font color=red>$total_qty</font>\n" . 
      "<br>Subtotal:&nbsp;<font color=red>" . &display_price($total_cost) . 
      '</font><br><br></td></tr><tr><td class="template_checkoutcartcontents">' .
      "<a href=\"$sc_store_url?dc=1&amp;%%href_fields%%" . 
      '" rel="nofollow">View Cart Details</a><br>' .
      '<a href="%%StepOneURL%%?order_form_button.x=1&amp;%%href_fields%%' . 
      qq|" rel="nofollow">Check Out</a>$buysafe_temp_display</td>'|.
      "</tr></table>";
 } else {
  $result = "";
 }
 return $result;
}--></div></td>


          </tr>
        </table>
		<p></p>

<!--agorascript-pre {
&capture_STDOUT;

# start display New Products
if ($sc_displayNewProducts =~ /yes/i){ 
print qq~
<table width="160" border="0" align="center" cellpadding="3" cellspacing="1" class="template_mainbackground">
          <tr>
            <td  class="template_mainbackground"><span class="style7">New Products</span></td>
          </tr>
          <tr>
            <td class="template_cartcontents"><div align="left"><span class="style6"> </span>   
<br>$sc_tenNewProducts<br><br>
</div></td>

          </tr>
        </table><br>
~;
}
# end display New Products

# start display Featured Product
if ($sc_displayFeaturedProducts =~ /yes/i){ 
print qq~
<table width="160" border="0" align="center" cellpadding="3" cellspacing="1" class="template_mainbackground">
          <tr>
            <td  class="template_mainbackground"><span class="style7">Featured Product</span></td>
          </tr>
          <tr>
            <td class="template_cartcontents"><div align="left"><span class="style6"> </span>   
<br>$sc_featuredProduct_secure<br><br>
</div></td>

          </tr>
        </table><br>
~;
}
# end display Featured Product

#display Top Sellers
if ($sc_displayTopSellers =~ /yes/i){ 
print qq~
<table width="160" border="0" align="center" cellpadding="3" cellspacing="1" class="template_mainbackground">
          <tr>
            <td  class="template_mainbackground"><span class="style7">Best Sellers</span></td>
          </tr>
          <tr>
            <td class="template_cartcontents"><div align="left"><span class="style6"> </span>   
<br>$sc_tenBestSellers<br><br>
</div></td>

          </tr>
        </table>
~;
}
&uncapture_STDOUT;
}
# end of display Top Sellers
-->
<br>
      </td>
	</tr>
	<tr class="template_copyright">
	  <td height="24" colspan="3" class="template_copyright"><center>
Copyright &copy; 
<!--agorascript-pre {
&capture_STDOUT;

# start display New Products
if ($sc_footer_copyright_text eq ''){ 
print qq~
1999 to Present by K-Factor Technologies Inc. at <a href="http://www.agoracart.com" class="copyright_link">AgoraCart.com</a> and <a href="http://www.K-Factor.net" class="copyright_link">K-Factor.net</a>
~;
} else {
print qq~
$sc_footer_copyright_text
~;
}
&uncapture_STDOUT;
}
# end of display Top Sellers
-->
<br>
	Powered by <a href="http://www.AgoraCartPro.com" class="copyright_link">AgoraCart Pro</a>. Maintained by <a href="http://www.K-Factor.net" class="copyright_link">Mister Ed</a> at <a href="http://www.AgoraCart.com" class="copyright_link">AgoraCart.com</a></center>
 	</td>
  </tr>
</table>
<!-- Footer Ends -->
