<!--BEGIN HEADER TABLE-->

<table id="Table_01" width="100%" border="0" cellpadding="0" cellspacing="1" class=template_mainbackground>
		<tr>
		  <td height="73" colspan="3">
<!--<table width="100%" border="0" cellpadding="0" cellspacing="0" class="template_table_image_background"><tr><td width=390 height="73">-->
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="template_mainbackground"><tr><td width=390 height="73">
<!--agorascript-pre 
&capture_STDOUT;
if ($sc_self_serve_images =~ /yes/i) {
    print qq~<img src="%%URLofImages%%../html-templates/templates/$sc_headerTemplateName/header.gif" height="73" alt="Agora Cart" width=390>~;
} else {
    print qq~<img src="html/html-templates/templates/$sc_headerTemplateName/header.gif" height="73" alt="Agora Cart" width=390>~;
}
&uncapture_STDOUT;  -->
		  </td>
		  <td align=center>

<!--agorascript-pre 
&capture_STDOUT; 
print qq~<font class="template_fonth1"><b>$sc_headerStoreTitle</b></font>~;
print qq~<font class="template_fonth2"><br>$sc_headerStoreTagLine</font>~;
&uncapture_STDOUT;  -->

</td>
</tr></table></td>
  </tr>
	<tr>
	  <td height="35" colspan="3" bgcolor="#FFFFFF">
		<span class="style6">&nbsp;&nbsp;&nbsp;&nbsp;

<!--START Dynamic Links - cartlinks-->
<!-- .html and .htm pages in the html directory of your store, compiled in real time.  Add/Remove/Rename pages in your store's html directory to alter these links-->
<!--agorascript-pre 
&capture_STDOUT; 
&cartlinks;
$cartlinks =~ s/<ul>\n//ig;
$cartlinks =~ s/<li>//i;
$cartlinks =~ s/<li>/ \| /ig;
$cartlinks =~ s/<\/li>\n//ig;
$cartlinks =~ s/<\/ul>//ig;
print $cartlinks;
&uncapture_STDOUT;  -->
<!--END Dynamic Links - cartlinks-->


		</span>	  </td>
	</tr>
	<tr>
	  <td width="175" valign="top" bgcolor="#FFFFFF">


<!--START Search Box-->
    <form method="post" action="agora.cgi">
        <div align="center"><span class="style14"><br>
    Search: </span>
      <input type="hidden" name="cart_id" value="%%cart_id%%">
      <input type="text" name="keywords" size="10" maxlength="40">
      <input type="hidden" name="ppinc" value="search">
      <input type="submit" name="search_request_button" value="Go">
            <br><br>
	    </div>
	    </form>
<!--END Search Box-->


<!--START Category Listings-->
<!--agorascript-pre {
# code to list categories and/or sub categories
# updated for pre-built lists in managers by Mister Ed September 29, 2007
if ($sc_displayDynamicCategories =~ /yes/i) {
&capture_STDOUT;
	    print qq~<table width="160" border="0" align="center" cellpadding="3" cellspacing="1" class="template_mainbackground">
        <tr>
          <td class="template_mainbackground"><span class="style6"><span class="style7">Categories</span></span></td>
        </tr>
        <tr>
          <td bgcolor="#FFFFFF"><div align="left"><span class="style6"> </span><br>
~;
if ($sc_use_database_subcats =~ /yes/i) {
    if ($sc_global_bot_tracker ne '1') {
           print qq|\n$sc_categories_with_subcats\n|;
    }
    else {
           print qq|\n$sc_categories_bots_with_subcats\n|;
    }
} else { 
    if ($sc_global_bot_tracker ne '1') {
           print qq|\n$sc_categories_no_subcats\n|;
    }
    else {
    print qq|\n$sc_categories_bots_no_subcats\n|;
    }
}
print "\n";
	    print qq~
</div><br></td>
        </tr>
      </table>
	    <br>
~;
&uncapture_STDOUT; }
}
-->
<!--END Category Listings-->


<!--START Price Search-->
        <table width="160" border="0" align="center" cellpadding="3" cellspacing="1" class="template_mainbackground">
          <tr>
            <td  class="template_mainbackground"><span class="style6"><span class="style7">Search by Price</span></span></td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF"><div align="center"><br><form method="post" action="agora.cgi">
<span class="style6">Search Between:<br><br> <input type="hidden" name="cart_id" value="%%cart_id%%">
%%sc_money_symbol%% <input type="text" name="query_price_low_range" size="5" maxlength="10">
<small> & </small>
<input type="text" name="query_price_high_range" size="5" maxlength="10"><br><br>
        <input type="hidden" name="ppinc" value="search">
        <input type="submit" name="search_request_button" value=" Search ">
    </span></form>
<br><br></div></td>
          </tr>
        </table>
        <br>
<!--END Price Search-->

   <div id="ac_html_validator">
      <a href="http://validator.w3.org/check?uri=referer" target="_new">
        <img src="%%URLofImages%%/valid-html401.png"
          alt="Valid HTML 4.01!" height="31" width="88"></a><br><br>
    </div>
      <p></p></td>
		<td valign="top" class="ac_ppinc_content"><table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
 
  <td class="ac_content">
<!--END HEADER TABLE-->


