<!-- Begin Footer -->
	</td>
</tr>
<tr>
	<td>&nbsp;</td><td class="ac_bottom_links">

	Powered by <a href="http://www.AgoraCartPro.com">AgoraCart Pro</a>. Maintained by <a href="http://www.K-Factor.net">Mister Ed</a> at <a href="http://www.AgoraCart.com">AgoraCart.com</a>

	</td>
</tr>
<tr class="ac_copyright">
<td colspan="2" class="ac_copyright">
<center>
Copyright &copy; 
<!--agorascript-pre {
&capture_STDOUT;

if ($sc_footer_copyright_text eq ''){ 
print qq~
1999 to Present by K-Factor Technologies Inc. at <a href="http://www.agoracart.com">AgoraCart.com</a> and <a href="http://www.K-Factor.net" >K-Factor.net</a>
~;
} else {
print qq~
$sc_footer_copyright_text
~;
}
&uncapture_STDOUT;
}
-->
</center>
</td>
</tr>
</table>
