<!--BEGIN HEADER TABLE-->
<table class="ac_header">
<tr>
  <td>
<!--agorascript-pre 
&capture_STDOUT; 
print qq~<font class="template_fonth1"><b>$sc_headerStoreTitle</b></font>~;
print qq~<font class="template_fonth2"><br>$sc_headerStoreTagLine</font>~;
&uncapture_STDOUT;  -->
  </td>
  <td class="ac_header_search">
    <form method="post" action="agora.cgi">
      <input type="hidden" name="cart_id" value="%%cart_id%%">
      <input type="text" name="keywords" size="20" maxlength="40">
      <input type="hidden" name="ppinc" value="search">
      <input type="submit" name="search_request_button" value="Search"> 
    </form>
  </td>
</tr>
</table>
<table class="ac_mainbody" cellpadding=0 cellspacing=0>
<tr>
  <td class="ac_left_nav">

<!--START Category Listings-->
<!--agorascript-pre {
     if ($sc_buySafe_is_enabled =~ /yes/) {
          &capture_STDOUT;
          print qq|<br>$sc_buysafe_merchant_seal_complete_button_string<br><br>|;
          &uncapture_STDOUT;
    }
# code to list categories and/or sub categories
# updated for pre-built lists in managers by Mister Ed September 29, 2007
if ($sc_displayDynamicCategories =~ /yes/i) {
&capture_STDOUT;
        print "<h3>Categories</span></h3>";
if ($sc_use_database_subcats =~ /yes/i) {
    if ($sc_global_bot_tracker ne '1') {
           print qq|\n$sc_categories_with_subcats\n|;
    }
    else {
           print qq|\n$sc_categories_bots_with_subcats\n|;
    }
} else { 
    if ($sc_global_bot_tracker ne '1') {
           print qq|\n$sc_categories_no_subcats\n|;
    }
    else {
    print qq|\n$sc_categories_bots_no_subcats\n|;
    }
}
print "\n <br>";

&uncapture_STDOUT; }
}
-->
<!--END Category Listings-->

<!--agorascript-pre {
&capture_STDOUT;

# start display New Products
if ($sc_displayNewProducts =~ /yes/i){ 
print qq~
          <hr><h3>New Products<h3>
  
<br>$sc_tenNewProducts<br><br>
        <br>
~;
}
# end display New Products

# start display Featured Product
if ($sc_displayFeaturedProducts =~ /yes/i){ 
print qq~
          <hr>
            <h3>Featured Product</h3>
            <div align="left"><span class="style6"> </span>   
<br>$sc_featuredProduct<br><br>
~;
}
# end display Featured Product

#display Top Sellers
if ($sc_displayTopSellers =~ /yes/i){ 
print qq~
          <hr>
            <h3>Best Sellers</h3>
            <div align="left"><span class="style6"> </span>   
<br>$sc_tenBestSellers<br><br>
~;
}
&uncapture_STDOUT;
}
# end of display Top Sellers
-->
    <hr/>
    <h3>Company Info:</h3>
<!--agorascript-pre 
&capture_STDOUT; 
&cartlinks;
# Match the style for left links
$cartlinks =~ s/<a href/<a class=\"ac_left_links\" href/ig;
print $cartlinks;
&uncapture_STDOUT;  -->
<br>
    
    <div id="ac_html_validator">
      <a href="http://validator.w3.org/check?uri=referer" target="_new">
        <img src="%%URLofImages%%/valid-html401.png"
          alt="Valid HTML 4.01!" height="31" width="88"></a>
    </div>
    
  </td>
  <td class="ac_content">
<!--agorascript-pre {
local (@my_cart_fields,$my_cart_row_number,$result);
local ($count,$price,$product_id,$quantity,$total_cost,$total_qty)=0;
if ((!(-f "$sc_cart_path"))||($sc_processing_order =~ /yes/i)) {return ""}
open (CART, "$sc_cart_path") || &file_open_error("$sc_cart_path",
 "display_cart_contents_in_header", __FILE__, __LINE__);
 while (<CART>)
  {
   $count++;
   chop;    
   @my_cart_fields = split (/\|/, $_);
   $my_cart_row_number = pop(@my_cart_fields);
   push (@my_cart_fields, $my_cart_row_number);
   $quantity = $my_cart_fields[0];
   $product_id = $my_cart_fields[1];
   $price = $my_cart_fields[$sc_cart_index_of_price_after_options]; 
   $total_cost = $total_cost + $quantity * $price;
   $total_qty = $total_qty + $quantity;
  } # End of while (<CART>)
close (CART);
if ($count > 0) {
  $result = '<div align="center"><table class="ac_cart_summary"><tr>' .
      '<td><a href="agora.cgi?dc=1&amp;%%href_fields%%' . 
      '">View Cart</a></td>' .
      "<td> Items in shopping cart: $total_qty\n" . 
      "<br/> Item cost subtotal:&nbsp; " . &display_price($total_cost) . 
      "</td>\n" .
      '<td><a href="%%StepOneURL%%?order_form_button.x=1&amp;%%href_fields%%' . 
      '">Check Out</a></td>' .
      "</tr></table></div>";
 } else {
  $result = "";
 }
 return $result;
}-->
<!--END HEADER TABLE-->
