body{
  background : #FFFFFF;
  color: #000000;
  margin: 0px;
  padding: 0px;
  font-size : 10pt;
  font-family: Arial, Bitstream Vera Sans, Helvetica, sans-serif;
  min-width: 770px; 
  /* Internet Explorer doesn't accept min-width therefore we 
   use the following Dynamic Expression to set the width */
  width:expression(document.body.clientWidth < 850 ? "770px" : "100%" );
}
/* ~~~~~~~~~ default hyper links ~~~~~~~~~*/
/* See Template CSS files */
/* ~~~~ Header  and Footer File ~~~~ */
.ac_header, .ac_mainbody{
  width :100%;
  font-size : 10pt;
}
.ac_header{
  background-color : #680098;
  padding: 0px;
  text-align: center;
  font-family : Arial, Bitstream Vera Sans, Helvetica, sans-serif;
  color: #FFFFFF;
}
h1#ac_h1 {
  font-size : 15pt;
  font-weight : bold;
  margin: 0px;
  color: #FFFFFF;
}
h2#ac_h2 {
  font-style : italic;
  margin: 0px;
  font-size: 12pt;
  color: #FFFFFF;
}
.ac_left_nav h3 {
  color : #FF0000;
  font-weight : bold;
  text-align: center;
  margin: 0px;
  padding: 5px 0px 0px 5px;
  font-size: 10pt;
}
.ac_left_nav hr{
  padding:0px;
  margin: 25px 0px 25px 0px;
  width : 95%;
}
.ac_header_search{
  text-align: right;
  vertical-align : middle;
}
.ac_mainbody, .ac_cart_summary{
  background-image : url(agora.cgi?secpicserve=steelgrey.jpg);
  background-color : #cccccc;
}
.ac_mainbody{
  padding: 0px;
  margin: 0px;
}
.ac_left_nav{
  width: 155px;
  vertical-align : top;
  padding: 0px;
  padding-top: 15px;
}
a.ac_left_links {
  text-align: left;
  padding: 0px;
  padding-right: 3px; 
  padding-left: 10px;
  font-size: 10pt;
  font-weight: normal;
  text-decoration : underline;
}
a.ac_left_sub_links {
  text-align: left;
  padding: 0px;
  padding-right: 3px; 
  padding-left: 18px;
  font-size: 9pt;
  font-weight: normal;
  text-decoration : none;
}
.ac_cart_summary{
  font-size: 12pt;
  width:100%;
  color: #000000;
  text-align: center;
  padding: 0px;
  padding-top:10px;
  padding-bottom:10px;
}
.ac_copyright{
  text-align: center;
  font-size: 10pt;
  background-color: #FFFFFF;
  padding: 0px;
  padding-top:10px;
  padding-bottom:10px;
} 
div#ac_html_validator{
  text-align: center;
  padding-top : 100px;
  vertical-align : bottom;
}
/* Cart Links Variations */
  /* standard vertical list no padding no indicator */    
.ac_left_nav ul{
  margin-left: 0px;
  margin-top: 0px;
  padding-left: 0px;
  list-style: none;
}
/* horizontal links with a link vertical between each pair
First listed item must be of class first */
.ac_bottom_links{
  text-align: center;
  padding: 5px 0px 5px 0px;
}
.ac_bottom_links ul{
  margin-left: 0px;
  padding-left: 0px;
  display: inline;
  text-align: center;
}
.ac_bottom_links ul li{
  font-size:10pt;
  padding: 5px 10px 5px 10px;
  list-style: none;
  display: inline;
  border-left: 1px solid #000000;
}
.ac_bottom_links ul li.first{
  border-left: 0px;
}
/*Vertical Links with no indicator but are centered*/
.ac_vertical_links{
  text-align:center;
}
.ac_vertical_links ul{
  margin-left: 0px;
  padding-left: 0px;
  display: inline;
  text-align: center;
}
.ac_vertical_links ul li{
  font-size: 10pt;
  padding: 0px 10px;
  list-style: none;
  display: inline;
}

/* ~~~~~ Error Message ~~~~~ */
/* This is the formating for the error message a user recieves */
p.ac_error{
  width: 500px;
  text-align: center;
  color: #FF0000;
  font-size:12pt;
  padding: 10px 0px 10px 0px;
  margin: auto;
}

/* ~~~ Product listings ~~~ */
.ac_content{
  background-color: #FFFFFF;
  vertical-align : top;
  padding: 0px; 
  padding-bottom: 25px;
}
.ac_product_table{
  width: 90%;
  vertical-align : top;
  margin: 10px auto;
  text-align: center;
}


/*~~~~~~ Product Pages ~~~~~~~  */
/* This is the formatting message the user sees when an item is added to the cart*/
td.ac_add_message{
  color: #FF0000;
  text-align: center;
}
/* ~~~ Search Results ~~~ */
.ac_seach_results{
  margin: 0px auto;
  background-color:#f0f0f0;
  width:500px;
  font-size:12pt;
  text-align:center;
}
p.ac_search_no_results{
  text-align:center;
  margin: 50px auto;
  font-size:12pt;
}
h3.ac_product_name{
  font-size:10pt;
  color:#000000;
  margin:5px 5px 2px 5px;
  font-weight : bold;
  text-align:left;
}
.ac_product_desc{
  text-align : justify;
  font-size:9pt;
  margin: 0px 5px 10px 5px;
}
.ac_product_price{
  color: #FF0000;
  font-size:10pt;
  white-space : nowrap;
  font-weight : bold;
}
.ac_product_outofstock{
  color: #FF0000;
  font-size:10pt;
  white-space : nowrap;
  font-weight : bold;
}
.ac_product_available{
  color: #FF0000;
  font-size:9pt;
  white-space : nowrap;
  font-weight : normal;
}
.ac_product_opt-add{
  text-align:center;
  font-size:10pt;
}
.ac_product_image{
  text-align:center;
  width:auto;
}
.ac_add-quantity{
  margin: 0px auto;
  text-align: center;
}
/*~~~ Options ~~~~*/
.opt_border{
  font-size: 10pt;
  text-align: center;
  border: 1px solid #CCCCCC;
  margin: 0px auto; 
}
th.opt_border{
  padding:0px 2px;
}
.no_border{
  font-size: 10pt;
  border: none;
  margin: 0px auto;
}
th.no_border{
  padding:0px 2px;
}

.opt_center{
  font-size: 10pt;
  text-align:center;
  margin: 0px auto  
}
th.opt_center{
  padding:0px 2px;
}

select.opt_select{
  width:125px;
  text-align:left;
}
/* ~~~~~~ View Cart Table ~~~~~~*/
table.ac_cart_table{
  background-color: #2A6D60;  /* this color ends up being the border color for the table */
  width: 90%;
  margin:0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #FFFFFF;
  font-family: Arial, Bitstream Vera Sans, Helvetica, sans-serif;
  font-size : 10pt;
  text-align: center;
}
table.ac_cart_table th{
  font-size : 11pt;
  background-color: #1B433A;
  margin:0px;
  width: auto;
  vertical-align : top;
}
table.ac_cart_table td{
  background-color: #FFFFFF;
  color: #000000;
  border: 0px;
  width: auto;
}
/* ~~~~~ Order Totals Table from View Cart Page ~~~ */
table.ac_totals_table{
  background-color: #F0F5FF;
  font-size: 12pt;
  color: #000000;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
table.ac_totals_table th{
  text-align:center;
  background-color: #E0E5FF;
  width:auto;
}
table.ac_totals_table td{
  width:auto;
  text-align: right;
}
.buysafe {
    text-align:center;
	font-family: Arial, Bitstream Vera Sans, Helvetica, sans-serif;
    font-size: 9pt;
	font-weight: normal;
	color: #FF0000;
}
/* ~~~~~~ Check Out Pages ~~~~~~ */
.ac_checkout{
  margin: 10px auto;
  width: 550px;
  font-size : 10pt;
}
td.ac_checkout_top_col{
  background-color : #C0EFFF;
  font-size : 13pt;
  font-weight: bold;
  border-top : 1px solid #000000;
  border-bottom : 1px solid #000000;
  text-align : left;
  padding: 5px 7px;
}
td.ac_checkout_left_col{
  text-align: left;
  width: 15%;
  white-space : nowrap;
}
td.ac_checkout_right_col{
  text-align: left;
  width: 85%;
}
.ac_missing_field{
  width: 500px;
  text-align:center;
  color: #FF0000;
  font-size:12pt;
  padding: 0px;
  padding-top:10px;
  border-top:1px solid #000000;
}
.ac_checkout_top_msg{
  background-color: #E8E0E0;
  width: 500px;
  text-align:left;
  padding: 3px;
  margin: 0px auto;
}
.ac_checkout_review{
  background-color: #F8F8C8;
  font-size: 10pt;
  border: 1pt solid #AAAAAA;
  margin: 0px auto;
  width: 500px;
}
th.ac_checkout_review, 
td.ac_checkout_review, 
td.ac_checkout_review_col1, 
td.ac_checkout_review_col2 {
  border: 1pt solid #AAAAAA;
  padding: 3px;
}
.ac_checkout_review_col1{
  width: 150px;
}
.ac_checkout_review_col2{
  width: 350px;
}

.center{
  text-align:center;
}
img{
  border:0px;
  margin: 0px;
}
/* ~~~~~~ Download Module ~~~~~~ */
.dnldMessage{
  font-family: Arial, Bitstream Vera Sans, Helvetica, sans-serif;
  font-size:10pt;
  color:#000000;
  padding: 0px 0px 0px 0px;
}